<form action="new_user_path" method="post" accept-charset="UTF-8">
  <label for="uname">Username: </label>
  <input type="text" name="uname"><br>
  <label>Email: </label>
  <input type="email" name="email"><br>
  <label>Password: </label>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>