<form action="<%= new_user_path %>" method="get" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username: </label>
  <input type="text" name="user[username]"><br>
  <label>Email: </label>
  <input type="email" name="user[email]"><br>
  <label>Password: </label>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>